name: build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    steps:

      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'
          cache: maven
          server-id: github
          server-username: 'MAVEN_USER'
          server-password: 'MAVEN_PASSWORD'

      - uses: actions/setup-node@v6
        with:
          node-version: 20.x

      - name: Lint
        run: >-
          npx @redocly/cli lint

      - name: Maven build
        run: >-
          mvn clean verify
        env:
          MAVEN_USER: ${{ vars.MAVEN_USER }}
          MAVEN_PASSWORD: ${{ secrets.GITHUB_TOKEN }}

      - name: Update dependency graph
        uses: advanced-security/maven-dependency-submission-action@v5.0.0
